# Binários e arquivos temporários do Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/

# Arquivos temporários e de build Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
.terraformrc
terraform.rc
*.tfplan
crash.log

# Arquivos de log
*.log

# Binários do provider
terraform-provider-jumpcloud
terraform-provider-jumpcloud_*

# Arquivos do GoReleaser
dist/

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos de coverage
coverage.* 